#main-wrapper{
    text-align: center;
    font-style: oblique;
}
#main-content{
    border: 1px solid #ccc;
    margin: 20px 100px;
    padding: 10px;
    height: 500px;
}

#main-content label{
    color:steelblue;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#main-content hr{
    width: 50%;
}

#main-content button,input{
    border: 1px solid black;
    width: 25%;
    height: 30px;
    background-color: rgb(88, 35, 10);
    color: #ccc;
}

#MostrarImagen{
    text-align: center;
    font-size: larger;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}