#main-wrapper{
    text-align: center;
    font-style: oblique;
}
#main-content{
    border: 1px solid #ccc;
    margin: 20px 100px;
    padding: 10px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

img{
    width: 100px;
    height: auto;
}
